$primary-color : var( --e-global-color-primary, #5D5EB4 );
$secondary-color : var( --e-global-color-secondary, #35404E );
$text-color : var( --e-global-color-text, #515C6A );
$accent-color : var( --e-global-color-accent, #FFD700  );
$dark-primary : var( --e-global-color-863f05e, #31325F );
$white : var( --e-global-color-58abbc9, white );
$white-50 : var( --e-global-color-c860ddb, #FFFFFF75 );
$dark-text : var( --e-global-color-95337fe, #222222 );